[2019-01-19 22:29] oularrea opened #2 "Ask about the implementation of the API load method"
Hello, I'm using this component to change the profile picture of the user, and I'm encountering problems when initializing the component with the saved image, since the load method is not implemented and it is not clear to me that I return in the API to see the preview of the profile image previously saved.

Do you have any examples of the implementation of the load method? passing the upload_id o

[2019-01-20 17:01] jcohen02 commented on #2
HI @oularrea, thanks for raising this issue. It's correct that the load method is not yet implemented. I hadn't had a chance to add support for this yet and wasn't sure of example use cases for this. As such, implementation of the `process`, `revert` and `fetch` endpoints was prioritised.

I'll look to get support for `restore` and `load` added as soon as possible - hopefully this will be availabl

[2019-01-20 19:55] oularrea commented on #2
Thank you for answering so quickly

In my case I use it to load the profile picture and when I initialize according to the upload_id code, this makes a call to the load method of the api, like I think that if you have a multiple upload of files this method is also important, since It would be a little weird to have a component to view the saved files or images and then use the Filepond just to upl

[2019-01-20 21:20] jcohen02 commented on #2
No problem, thanks for the info on your use case.

For the `restore` endpoint, the handling of requests is straightforward since the file associated with the requested ID will still be in the django-drf-filepond [TemporaryUpload](https://github.com/ImperialCollegeLondon/django-drf-filepond/blob/87004f5e5ba0623171b7f35850d765714d035355/django_drf_filepond/models.py#L22) table.

The decision made in

[2019-01-22 12:41] jcohen02 commented on #2
@oularrea, this is still a work in progress but there's now a prototype implementation for the `restore` and `load` methods in the branch [feature/restore_load](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/feature/restore_load) if you'd like to try it out and see if provides what you were looking for.

The configuration requires that you add a setting `DJANGO_DRF_FILEPOND_FILE

[2019-02-17 04:45] danidee10 opened #3 "I don't think delete_temp_upload_file is a good Idea"
First of all, Great library. It saved me from writing a `filepond` server but I have a problem with how it works.

Going through the code, I saw that there's a signal called `delete_temp_upload_file` that deletes the Temporary directory whenever an file is deleted.
I don't think this is a good Idea because It seems wastefu.

There's no point deleting the directory, when the next file upload will r

[2019-02-17 15:44] jcohen02 commented on #3
Hi @danidee10, thanks for raising this. I take your point on the overhead of creating/removing lots of directories if you're handling a large number of concurrent uploads in multiple threads/processes.

The implementation was handled in this way in order to follow the approach described in the filepond spec/docs for the [server-side of the process method](https://pqina.nl/filepond/docs/patterns/ap

[2019-02-17 16:36] jcohen02 commented on #3
Just merged an update into master to address this - not sure how well this addresses what you were looking for, @danidee10, but you can now set `DJANGO_DRF_FILEPOND_DELETE_UPLOAD_TMP_DIRS = False` to prevent the temporary directory associated with an upload from being deleted when the temporary file is deleted. I plan to include this in the next release if it is helpful. As you highlighted in your

[2019-02-17 23:56] danidee10 commented on #3
Thanks for the quick response!

Concerning this statement:

_**"There's no point deleting the directory, when the next file upload will recreate it.".**_

I was wrong, I thought the top-level directory was being deleted, but it seems that's not the case.
If it's only temporary sub-directories that are deleted, I don't think it's a big problem because two processes can write to the same directory w

[2019-02-18 10:11] jcohen02 commented on #3
Thanks, I'll leave the feature in place and add details of the new configuration option to the documentation.

[2019-02-18 10:11] #3 closed

[2019-02-20 10:48] theyosh opened #4 "Feature request: Add custom upload field name"
Hi,

we are using this django module with FilePond on our website. The issue we have right now is that we have multiple FilePond instances on our side. And therefore we have mutliple upload file fields.

As I look into the code of this Django module, there is no support for this? The upload field name has to be filepond always. This is not flexible for us.

So we made a very small code change at h

[2019-02-20 11:06] jcohen02 commented on #4
Hi,

Happy to add support for filepond instances with IDs other than `filepond` to support multiple filepond instances on a given page (or just the case where a developer has opted to use a name other than filepond for their filepond element). This seems like a useful extension.

Presumably you don't need to know at a later time which instance uploaded a given file? The database could be updated t

[2019-02-20 12:22] theyosh commented on #4
Hi,

you are correct in your second part. We only need the option to specify the upload form field name. When the file is uploaded, we can just handle the TemporaryUpload and use the ID that is returned.

There is no need to store the field name in a DB.

[2019-02-20 14:05] jcohen02 commented on #4
Just added an update for this.

@theyosh, if this looks ok, I'll include this in the next release.

[2019-02-20 21:55] jcohen02 commented on #2
This feature is now available in [release v0.0.5](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.0.5).

[2019-02-20 21:55] #2 closed

[2019-02-20 21:58] jcohen02 commented on #4
This is now available, along with tests and some info added to the docs, in [release v0.0.5](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.0.5). I'll close the issue for now but feel free to re-open if this doesn't provide what you were after.

[2019-02-20 21:58] #4 closed

[2019-02-21 08:41] theyosh commented on #4
@jcohen02 Just did an update with pip. It does work like expected, as we had this patch already running. And we do not see any issues. Thanks for the fast addition.

[2019-02-21 08:43] jcohen02 commented on #4
@theyosh glad this works, thanks for the feedback and for using the library.

[2019-03-24 23:26] casoetan opened #5 "BASE_DIR error"
Line 20 - 21 in this file (which is used for testing)
[code]
[code]

requires `BASE_DIR` be set but my config is customized and I don't use that.

I don't think users should be forced to set the `BASE_DIR` if they do not need it.

[2019-03-25 01:53] casoetan opened #6 "Is it possible to use libraries like boto or django-storages?"
This is to upload to something like AWS or Google Storage

[2019-03-25 11:04] jcohen02 commented on #5
Hi @casoetan, thanks for raising this, I'll look into setting a default `BASE_DIR` setting within the `django-drf-filepond` app so that it's not a requirement to have `BASE_DIR` defined in your top-level settings.

[2019-03-25 11:16] jcohen02 commented on #6
@casoetan, can you explain a little more about the use case you have in mind here?

Would you be looking for the temporary file upload to be stored within a cloud storage service such as S3 or Google Cloud Storage? Or this would only be a requirement for permanent storage of a file?

There's no support for anything like this at present but it could certainly be added. If you wanted the temporary u

[2019-03-26 00:37] casoetan commented on #6
Yes. That's pretty close, the choice of doing it either way would be awesome.

Also, thinking further, having the ability to use any cloud storage library like [django-storages](https://django-storages.readthedocs.io/en/latest/) to manage upload to the cloud automatically will be a plus. What do you think?

[2019-03-26 01:45] casoetan opened #7 "revert fails"
Revert fails with
[code]

[2019-03-26 10:09] jcohen02 commented on #7
@casoetan can you provide some further information on what you're doing that results in this error? It would be good to resolve this but I'll need some more details to be able to investigate this. Thanks.

[2019-03-26 12:33] jcohen02 opened #8 "Python 3.7 tests failing due to Travis configuration issue"
The tests are failing on Travis with Python 3.7. It looks like this is some sort of configuration issue since the error seems to be related to accessing Python 3.7 rather than running the tests themselves.

[2019-03-26 15:40] #8 closed

[2019-03-26 19:57] jcohen02 commented on #5
@casoetan I've just merged #10 into master to fix this issue, the fix will be included in the next release.

[2019-03-26 19:57] #5 closed

[2019-03-26 20:02] jcohen02 commented on #6
This is certainly something that it would be nice to have. I guess the options here are either to have some sort of pluggable setup with an interface against which you write your own connector to push files to the storage of your choice, or something more comprehensive within `django-drf-filepond` that provides built in support for specific cloud storage backends.

I'll give this some more thought

[2019-03-27 01:31] casoetan commented on #7
The frontend is react and this is the component.
[code]

[2019-03-27 01:35] casoetan commented on #6
The pluggable interface I sounds great to me. You won't have to reinvent cloud uploads and users can just plugin whatever storage engine they use

[2019-03-27 03:32] casoetan opened #11 "django.core.exceptions.AppRegistryNotReady: Apps aren't loaded yet."
Using the first option throws
[code]

Full Trace
[code]

[2019-03-27 11:01] jcohen02 commented on #11
Sorry, can you clarify what you mean here by *the first option* - looks from the trace like you're running a management command (runserver?). Is this in relation to another issue? I'm assuming this is independent of the other issues but will need a little more information to investigate this. Thanks.

[2019-03-27 12:26] casoetan commented on #11
I'm sorry for not clarifying. I meant `1. Manual handling of file storage`.

Basically any import of `TemporaryUpload` throws that (without even using it). I haven't been able to dig further. Maybe this evening.

The option I meant...
[code]

[2019-03-27 12:52] jcohen02 commented on #11
Thanks for the clarification, if you have a chance to investigate this later and can provide further details, that would be great. I'll also aim to take a look into this.

[2019-03-27 13:37] jcohen02 commented on #11
Just to provide an update on this, I've tested using a simple standalone test case as follows:
[code]
_Now edit settings and add_ `'django_drf_filepond'` _to INSTALLED_APPS as described in [section 1 of configuration](https://django-drf-filepond.readthedocs.io/en/latest/#add-the-app-to-installed-apps)_

Now create the database and enter a Django shell:
[code]
Within the shell, the following now wo

[2019-03-27 22:58] casoetan commented on #11
That works. Will investigate further what the issue may be. Thanks

[2019-03-27 23:16] casoetan commented on #11
Noticed the issue. The that requires this package housing this loads earlier than the app where this was defined.

Thanks

[2019-03-27 23:16] #11 closed

[2019-07-25 02:12] daspecster opened #12 "Django 2 support?"
Hello! Just curious if there's any plan to support Django 2+?

[2019-07-25 09:30] jcohen02 commented on #12
Hi, Django 2 is supported and used if you're using Python 3 (Django 2+ doesn't support Python 2.7 so Django 1.11 will be installed in that case).

The tests are passing with the latest Django 2.2 release. I'll therefore close this issue for now but if you're experiencing a specific problem getting the library to work with Django 2+, then feel free to re-open the issue with some further details of

[2019-07-25 09:30] #12 closed

[2019-07-25 13:41] daspecster commented on #12
Ah I missed that thank you!

I was having an issue with CSRF and a "bad request" response but I will dig into that a bit more and check back.

Thanks for the great project!

[2019-07-25 18:58] jcohen02 commented on #7
Hi, did this issue get resolved? I've created a test client using your component configuration above and file uploads and revert both work successfully.

If there's still an issue here, it would be great if you could provide a minimal example that reproduces the problem so that this can be investigated further.

If this is no longer a problem, I'll close the issue.

Thanks.

[2019-08-02 15:51] ikonitas opened #13 "Missing migration"
Please can we add the missing migration for this package:

[code]

[2019-08-03 17:33] jcohen02 commented on #13
Hi @ikonitas, thanks for highlighting this. It's now fixed and a new release [v0.1.1](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.1.1) has been created.

[2019-08-12 09:31] 3to1null commented on #6
Hi! I was wondering if there was any progress on this? Is it already possible to hack something together maybe? I only need the permanent storage to be on a different server (using `django-storages`) but I also need to use the load function, so just copying it won't work.

[2019-08-12 19:34] jcohen02 commented on #6
Hi @3to1null, I'm hoping to get something in place to support this, even if just an initial prototype, within the next few days.

When you say you need the storage to be on a different server, which django-storages backend would you be wanting to use? Would this be [SFTP](https://django-storages.readthedocs.io/en/latest/backends/sftp.html)?

I'm hoping to get something in place to support cloud-ba

[2019-08-13 07:42] 3to1null commented on #6
I am using [Min.io](https://min.io/) coupled with the `storages.backends.s3boto3.S3Boto3Storage` backend (Minio is pretty much a local AWS S3 instance). However, since the tool I'm developing is for internal use only I figured it would be easier to just create my own quick & dirty file upload.

If you want to add support for different types of storages, I would suggest to do this either with a gen

[2019-08-13 10:57] ikonitas commented on #13
@jcohen02 thanks for this, but there is another issue with your migrations:
Your `upload_to` is dynamic and every time I change it will create new migration please take a look at https://stackoverflow.com/questions/30624319/django-1-8-fails-migration-with-dynamic-upload-to-over-a-filefield

[2019-08-16 10:23] jcohen02 commented on #13
@ikonitas I've updated the `FileField`'s `upload_to` attribute to point to a deconstructible class as detailed at the link you provided (thanks for the pointer), however, it looks like it might actually be the `storage` attribute that is causing the issue here.

I've created a test app and I can reproduce the issue of `makemigrations` generating a new migration the first time I run it.

The new mi

[2019-09-02 21:32] pasevin commented on #6
This would be a life saver! Can't wait for the update :) Thanks for your work!

[2019-09-03 08:40] jcohen02 commented on #6
Hi @pasevin, pleased to say that the development of this feature is now almost complete and it should be going live this week. The code is available in the [feature/storage](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/feature/storage) branch and the docs in that branch have been updated with details of configuration for the new feature if you'd like to take a look.

[2019-09-03 08:55] jcohen02 commented on #6
The implementation of the new storage feature makes use of [django-storages](https://django-storages.readthedocs.io/en/latest/) so S3 will be supported on release (been testing against [MinIO](https://github.com/minio/minio)).

At present, the implementation assumes that temporary uploads will first be stored in some temporary space on the host server and then when the upload is confirmed, they ar

[2019-09-04 00:39] rob-barber commented on #13
I took the time to fix the issue. I've issued a pull request for the fix.

Essentially, a subclass of FileSystemStorage needed to be created so that instead of using the "location" parameter in the initializer (i.e. FileSystemStorage(location="blah/")) the location kwarg is set within the subclass's initializer. In this way the Django migrations no longer use hard coded paths but the sub-classed F

[2019-09-06 17:20] #13 closed

[2019-09-12 05:53] LYWang20 opened #15 "Have some questions about using permanent storage functions."
The permanent storage is written in python, and how to use it after uploading the file on the frontend web page. It was confusing me, can you please give me some advices.
Or in another way, how to trigger this permanent store operation after uploading files.

[2019-09-19 08:53] pasevin commented on #6
@jcohen02 Thanks for your hard work. I'm currently working on the other part of my project, but as soon as I come back to filepond integration, I will dig in deeper.

I'm already using django-storages, so I think there will be no issues.

It makes sense to firstly store files in some temp directory. The only issue with that is what happens if server runs out of space. Will the library return some

[2019-09-20 10:43] jcohen02 commented on #6
Thanks all for the input on this issue, [v0.2.0rc1](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.2.0rc1) has just been released with *django-storages* support and significant new documentation including a more advanced tutorial with code samples for use of the remote storage functionality. It's on [PyPi as a pre-release](https://pypi.org/project/django-drf-filepond/

[2019-12-09 19:00] pasevin opened #18 "500 error if BASE_DIR not set"
Hi I think that bugfix on issue #5 didn't solve the problem. Unless I'm doing something cardinally wrong.

[code]

Check fails on  ```not (storage.location).startswith(local_settings.BASE_DIR)```

Debugger variables:
```storage.location```:  ```/var/www/domain/proj_name/temp/filepond_uploads```
```local_settings.BASE_DIR```: ```/var/www/domain/venv/lib/python3.6/site-packages/django_drf_filepond``

[2019-12-12 15:10] pasevin opened #19 "Periodically clean up old temporary uploads"
Would be awesome to have this library integrate with Celery to clean up from time to time the stale files in temporary upload folder and from database.

Thanks for your work! I'm almost done with integrating this library in my project :)

[2019-12-12 15:16] pasevin opened #20 "DRF Authentication"
Is it possible to prevent file uploads without access token?
Right now it looks like I can upload files without authenticating.
Looks like a potential vulnerability :)

[2019-12-13 17:58] jcohen02 commented on #18
Hi @pasevin, thanks for highlighting this. Not sure what happened here but you're correct that this still seems to be an issue.

I'll get a fix for this created shortly. If you'd be able to test it, that would be great.

[2019-12-13 23:15] pasevin commented on #18
Hi, yes sure I will test!
I don't have ```BASE_DIR``` set, but when I do set it, the library works without issue.
And yes your'e correct, when ```BASE_DIR``` is not set, then the lib defaults to the venv destination where it's installed.

Sorry for the confusion, ```proj_name``` is just a subdirectory of the project where ```settings.py``` and static directory is situated. This is where I wanted t

[2019-12-14 17:51] jcohen02 commented on #18
@pasevin I've pushed a fix to the [fix/issue18](/ImperialCollegeLondon/django-drf-filepond/tree/fix/issue18) branch. If you have a chance to test this and check that it does indeed resolve the issue you were experiencing, that would be great but I'll merge in the next couple of days anyway. The updated tests are passing.

One thing to note, if you have `BASE_DIR` set but are setting a storage loca

[2019-12-14 17:55] #15 closed

[2019-12-14 18:01] jcohen02 commented on #20
You're right that there was no work done on authentication here as yet.

Thanks very much for the PR @pasevin, I'll take a look through this in the next few days.

[2019-12-14 18:10] jcohen02 commented on #19
Great to hear that you're integrating this into your project. :-)

I agree that periodic cleanup of stale temporary uploads would be good.

Celery could be a good way to do this but I wonder if it may be a little heavyweight? I wonder if perhaps something more lightweight might be easier to integrate and keep the app lighter on large dependencies? For example, maybe [django-bakground-tasks](https:

[2019-12-16 13:49] pasevin commented on #18
I've tried removing the BASE_DIR and all works fine.

Re: ```DJANGO_DRF_FILEPOND_ALLOW_EXTERNAL_UPLOAD_DIR``` I'm not sure if this is necessary at all. Maybe just a warning would suffice on init if location has been set outside the BASE_DIR.

This is for you to decide :)

[2019-12-16 13:53] jcohen02 commented on #18
Thanks for checking this and glad it's working ok.
Not sure what to do with the `DJANGO_DRF_FILEPOND_ALLOW_EXTERNAL_UPLOAD_DIR` attribute. As you say, I'm inclined to think it's probably not necessary but since it's implemented I may leave it in there for now, we can always revert to a warning subsequently.

I'll get this merged in asap.

[2019-12-16 14:10] pasevin commented on #19
If we're talking about built in feature of clean up, then you're probably right.
I was thinking to do something like this library does: https://github.com/xaralis/django-static-sitemaps#running-as-celery-task

Basically you as developer have to set up your  Celery task runner and then django-drf-filepond just works with it.

Your suggestion is probably better in the way that as a developer I don't

[2019-12-16 14:18] jcohen02 commented on #19
I think that was my concern when I mentioned having something more lightweight - the need to be running a task runner which adds another element of complexity and another dependency for the person using `django-drf-filepond` in their app (if they're not already using Celery, that is).

I guess Celery is going to be more feature-rich and likely to be more robust than the other options I highlighted

[2019-12-16 15:46] pasevin opened #23 "Fetch endpoint fails with Unsupported UTF-8 sequence length when encoding string"
I'm not sure why, but my ```http://localhost/fp/fetch/?target=https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190410094953-india-waterfalls---athirappalli-waterfalls.jpg``` request gets ```OverflowError: Unsupported UTF-8 sequence length when encoding string``` error.

Full stack trace:
[code]

[2019-12-16 15:47] pasevin commented on #23
```data``` in this case is bytes type, so it crashes at this point.

[2019-12-16 15:57] jcohen02 commented on #18
Merged and included in release 0.2.2.

[2019-12-16 15:57] #18 closed

[2019-12-16 16:26] jcohen02 commented on #20
Apologies, I rebased your PR onto the new release that I just made (v0.2.2) with the fix for issue 18. I wanted to retain your original PR so (force) pushed back to your fork (which I didn't think it would let me do!) but it did and seems to have lost the PR in the process...sorry.

If you could recreate the PR, that would be great, your master should now contain your authentication changes rebase

[2019-12-16 19:04] pasevin commented on #20
I think i sorted it out :] https://github.com/ImperialCollegeLondon/django-drf-filepond/pull/24

[2019-12-16 19:41] jcohen02 commented on #23
Thanks for reporting this, it looks like there is clearly a problem here, however I'm seeing a slightly different (but presumably related) error:
[code]

 - Python 3.6.9
 - Django 2.2.6
 - djangorestframework 3.11.0

Your error seems to be coming from the drf_ujson module which I don't seem to have installed. Can you confirm your dependency versions?

[2019-12-16 22:42] pasevin commented on #23
So I had:
Python 3.6.8
Django 2.1.10
djangorestframework 3.9.4

After update to latest DRF and Django, and a new fork of drf_ujson2== 1.4.1, issue still persists.
And yes it looks like drf_ujson2 is the culprit.

I've managed to escape this issue by changing ```response = Response(buf.getvalue(), status=status.HTTP_200_OK, content_type=content_type)``` to ```response = HttpResponse(buf.getvalue(),

[2019-12-16 23:07] pasevin commented on #23
Switching to JSONRenderer has the same effect. ```UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte```

I think the solution is either to use HttpResponse() as I did in my first attempt to fix this, or create custom DRF renderers for each file type.

Does the fetch call work on your setup?

[2019-12-17 07:52] pasevin commented on #23
Ok I found a better solution. Thing is that it was just enough to create a custom binary renderer:
[code]

and then in the view define ```renderer_classes = [BinaryFileRenderer, ]```

This works perfectly for me. I will create a pull request if you wish.

[2019-12-17 09:43] jcohen02 commented on #23
Thanks for investigating. This looks like the ideal way to resolve the issue in the context of DRF responses. However, I wonder if your previous comment might actually be a more optimal solution:

Given that all we're trying to do here is pass through the data that is coming from the remote URL, there's actually no need for it to be processed as a DRF response. Indeed, if we take the approach of u

[2019-12-17 09:53] jcohen02 commented on #20
Added in PR #24. Many thanks @pasevin.

[2019-12-17 09:53] #20 closed

[2019-12-17 09:56] pasevin commented on #23
Honestly I have no idea :)
I have both methods including the last one working:
https://github.com/pasevin/django-drf-filepond/commit/25bfc81b5faaf90a6b98946d27352d0b47e6c10c

It feels that django-drf-filepond library, should use DRF for all possible responses etc :)
So far I didn't have problems with generic binary solution. It's your call :)

[2019-12-17 12:09] pasevin opened #25 "Add 'uploaded_by' field to TemporaryUpload and StoredUpload models"
So I'm trying to associate somehow uploaded files with a user who does the uploading.

First I had an idea to do it via signals on my end and create a "bridge" model, which would link your models with mine. But I can't access the request and user from the model functionality.

Now if we had an optional ForeignKey field ```uploaded_by``` to Django ```"auth.user"``` that would make relation which wo

[2019-12-17 15:14] pasevin commented on #23
Just in case you decide to go with BinaryFileRenderer, I submitted a PR.

[2019-12-17 15:29] jcohen02 commented on #23
Thanks, since you've set this up, it would be nice to include it, however, thinking about whether this is the best approach, what we want is just a complete pass-through of the file data fetched from the remote URL.

I'm not clear if letting DRF read the data and then re-output it through a renderer could result in any changes to the incoming data - at present I'm inclined to think just using a pl

[2019-12-17 16:09] jcohen02 commented on #25
I have no problem with including this. Providing it's an optional field, since you've added the authentication functionality, I can see that this is something that it would be good to have in there.

If you create a PR for this, can you target it at the (new) `dev` branch which I've set up in preparation for a 0.3.0 release.

Many thanks.

[2019-12-17 17:04] pasevin commented on #23
Done ;)

[2019-12-17 19:26] pasevin commented on #25
Just to clarify, by 'optional' I meant ```'null=True, blank=True'``` in model field options. Not the option in the ```settings.py```.

Do you agree?

[2019-12-17 22:07] pasevin commented on #25
All works on my project. But you should check with your tests of course. I would do it myself, but for some reason I can't execute ```python setup.py test``` successfully... Getting compilation error in libsodium library.

[2019-12-18 09:31] #23 closed

[2019-12-18 09:43] jcohen02 commented on #25
Thanks for the update. Maybe best to discuss this in a separate issue but what is the specific error you're getting when trying to run `python setup.py test`?

As you've probably seen, the tests are running through `nose` so guess this is a problem with installing `nose`?

[2019-12-18 10:40] pasevin opened #28 "Problem while executing python setup.py test"
As per https://github.com/ImperialCollegeLondon/django-drf-filepond/issues/25

I have the problem trying to execute setup.py with test.
I have no experience with this kind of issue, maybe you can pin point where's the culprit.

My setup:

**MacOS Catalina**
**Python 3.6**

The massive log:

[code]

[2019-12-18 10:44] pasevin commented on #25
Yep, I've created a new issue.

[2019-12-18 10:44] #25 closed

[2019-12-18 11:21] jcohen02 commented on #28
This looks to be a `libsodium` issue similar to [this](https://github.com/pyca/pynacl/issues/473) (linking to [this](https://github.com/jedisct1/libsodium/issues/776)), where the same two tests are failing in the `libsodium` `make check` phase, and also to some extent [this](https://github.com/pyca/pynacl/issues/563).

I'm running an older version of OS X and I observe that when I install `PyNaCl`

[2019-12-18 11:37] jcohen02 commented on #28
Are you running in a virtualenv? If so, can you run `pip install -U pip setuptools wheel` to update things and then try `pip install PyNaCl` again and see if it pulls a wheel rather than trying to install from source?

[2019-12-19 14:41] pasevin commented on #28
Hi, sorry will be away for a few weeks. I will try to do this ASAP.

[2019-12-19 14:45] jcohen02 commented on #28
No worries, whenever you get a chance. Thanks.

[2020-01-14 13:13] pasevin opened #29 "Accessing file url"
I'm back :) Happy New Year!

I'm almost finished with integrating this library into my project.
One last thing which I'm confused about is how do I access the url of the ```StoredUpload```.

I can see that ```TemporaryUpload``` has a ```file = models.FileField```, but ```StoredUpload``` has only ```file_path = models.CharField```. This means I can't access ```obj.file_path.url```.

Am I missing so

[2020-01-14 22:13] jcohen02 commented on #29
Happy New Year to you too :-)

Are you trying to access the URL so that you can call the file on the client side?

If you want to load a stored upload on the client side, then you could use the [`load`](https://pqina.nl/filepond/docs/patterns/api/server/#load) endpoint from the filepond API - `django-drf-filepond` supports `load` and `restore`.

For example, if you upload a file (the initial tempo

[2020-01-15 00:17] pasevin commented on #29
Yes I am using load and restore endpoints on my client when using Filepond javascript interface.

But there's a case when I need to display uploaded pictures on the website with related posts. I need an actual web url not a path.

Usually I use ```FileField``` or ```ImageField``` to get direct web url like: ```http://eu-west-1.hypeapp.media.s3.amazonaws.com/uk/london/east/events/photos/archive/201

[2020-01-16 17:58] pasevin commented on #29
I've solved my predicament this way: https://github.com/ImperialCollegeLondon/django-drf-filepond/pull/30

If you don't see any issues with this, you can merge it :)

[2020-01-17 13:41] jcohen02 commented on #29
Many thanks and apologies for not responding sooner to your previous response. Your fix looks good. While this doesn't seem to introduce breaking changes from the API perspective, the DB update means that I think there should be a major release to include this change. I'm planning a 0.4.0 release with a few other fixes and this will be included in that.

[2020-01-17 13:41] #29 closed

[2020-01-17 15:13] jcohen02 opened #31 "Should StoredUpload use a base FileSystemStorage object based on FILE_STORE_PATH?"
The update merged in #30 and discussed in #29 replaces the string used to specify the location of a stored upload with a `FileField` object.

At present there is no specific `FileSystemStorage` object set for this `FileField` so it's using the default storage object.

Since users of the library will set `DJANGO_DRF_FILEPOND_FILE_STORE_PATH` in their application settings to define the base location

[2020-01-21 12:13] pasevin commented on #31
Thanks, will do as soon as I can.

[2020-01-21 14:25] jcohen02 commented on #31
Thanks.

[2020-01-22 12:08] icorgadmin opened #33 "repository is vulnerable"
A new security advisory was published

We found a vulnerable dependency in repositories you have security alert access to.

Security advisory GHSA-vfq6-hq5r-27r6 (moderate severity) affects 1 repository:

Django(pip) used in 1 repository

   ImperialCollegeLondon/django-drf-filepond
View alert  [https://github.com/ImperialCollegeLondon/django-drf-filepond/network/alert/setup.py/Django/open]

[2020-01-23 20:12] jcohen02 commented on #33
Fixed.

[2020-01-23 20:12] #33 closed

[2020-02-17 20:23] pasevin opened #34 "'utf-8' codec can't decode byte 0xff in position 0: invalid start byte."
I've updated to ```Django 3.0.3``` and ```django-storages  1.9.1``` and ```boto3 1.12.0```.

Not sure what triggered this error:
[code]

But I fixed it by changing:
[code]

to:

[code]

[2020-02-18 08:26] pasevin commented on #31
@jcohen02 everything seems to be working fine!

[2020-02-18 09:54] jcohen02 commented on #31
Great! Many thanks @pasevin.

[2020-02-18 17:33] pasevin commented on #31
I've spoken too early. There's a bug in your code:

```FilePondStoredSystemStorage``` should init with ```FILEPOND_FILE_STORE_PATH```, but instead it's using same ```FILEPOND_UPLOAD_TMP``` as in ```FilePondUploadSystemStorage```

[2020-02-18 17:47] pasevin commented on #31
I'm getting ```No such file or directory``` for all my files because the path is pointing to temporary folder now.

[2020-02-18 17:48] jcohen02 commented on #31
I'm investigating - this should have been covered in the tests so while what you're saying does look correct, I'm just checking this out because the tests were passing...

[2020-02-19 13:13] jcohen02 commented on #31
Thanks for spotting this @pasevin. I've fixed the issue and added a test (which should have been there already!) to cover this. Update committed to `dev` branch and I'll be preparing things for an v0.4.0 release based on the dev branch soon.

[2020-02-20 15:37] pasevin commented on #31
Hey, I'm still getting an error with this implementation.
I'm using django-storages for remote storage on S3.

When I try to present my uploaded files in django admin and via template on my custom page, I get file not found error, because for some reason django is trying to access the file from my local media directory. I have no ```DJANGO_DRF_FILEPOND_FILE_STORE_PATH``` set in my settings as per

[2020-02-20 15:40] pasevin commented on #31
I think
[code]
somehow should take into the account the case when remote storage is used, but I'm not clear yet how.

[2020-02-20 18:17] jcohen02 commented on #31
Sorry to hear this is still causing issues. I think this must be a result of switching from using a string for the `file` attribute in `StoredUpload` to using a `FileField` (in 4933728cb37396e6bbeefe457e8611c9617d39d6).

The use of a string provided a straightforward way of representing the file path that was agnostic to the storage medium. However, I think you said the use of a `FileField` was so

[2020-02-20 19:37] pasevin commented on #31
Hmm... this is getting a little bit too complicated for me right now. I'm on a tight deadline on my own project right now. I will try to find time to give this a thought as soon as I can.

[2020-02-20 22:04] pasevin commented on #31
I couldn't find anything helpful in ```django-storages```...
As you mentioned, maybe it's not such a bad idea to differentiate between local and remote backend implementations.

From the top of my head:

[code]

[2020-02-20 23:57] jcohen02 commented on #31
I've taken another look at this and I think I see what's causing the issues here. We're trying to use a `FileField` to store the `file` attribute of `StoredUpload`. In the database the `FileField` object is just stored as a`varchar` or similar character field and it just stores the path of the stored file.

Presumably when a `StoredUpload` object is recreated from the data in the DB, a new `FileFi

[2020-02-21 08:29] pasevin commented on #31
Yes, this is exactly what is happening. Thanks for being so responsive on this issue!

[2020-02-21 10:18] jcohen02 commented on #31
No problem, just looking at the best way to be able to dynamically select the storage backend - I'm wondering if a custom storage backend class might be the way to go. This will then look up what type of storage backend we're using and hand off the file storage or retrieval to the relevant backend.

I think one issue that we encountered previously here is that you can't access dynamic application

[2020-02-21 19:36] jcohen02 commented on #31
Ok, so I think the latest updates _should_ resolve this. If you could test the code, that would be fantastic. The updates are in the PR #36 and the (new) `fix/issue31` branch.

I've set the default storage for `StoredUpload` to a new class which is a `LazyObject` that I think is initialised on first use - it wraps the correct storage class depending on the application settings.

I've tested it wit

[2020-02-24 13:48] jcohen02 commented on #28
Hi @pasevin, just following up on this. I have tested with Python 3.6.10 on Catalina and the test suite runs fine.

Have you been testing within a `virtualenv`? Are you using a system version of Python or one installed via macports or brew? I'm using 3.6.10 installed via macports. I then `pip install virtualenv`, create and activate a virtual environment and I can then successfully run `python set

[2020-02-25 21:49] pasevin commented on #31
Looks good to me, and it Fixes #34 as well in a better way I guess :)

So far no crashes on my set up with remote storage.

[2020-02-25 21:52] pasevin commented on #34
Fixed by: https://github.com/ImperialCollegeLondon/django-drf-filepond/pull/36

[2020-02-25 21:53] #34 closed

[2020-02-26 09:05] jcohen02 commented on #31
Many thanks @pasevin, great that this is looking like it resolves the issue and that it also fixes #34 too. I'll get this merged into master and get a new release out soon that includes this.

I'll close this now but any further issues, please reopen and let me know.

[2020-02-27 09:28] iver56 opened #37 "Feature request: Add support for chunkUploads"
Thanks for making django-drf-filepond!

When I try to enable chunkUploads in the filepond client, the process view in django-drf-filepond raises an exception like this:

[code]

This made me realize that django-drf-filepond currently does not support chunked uploads. Here is a description of how filepond treats chunked uploads (the initial POST request does not include a file):

https://pqina.nl/f

[2020-02-27 09:49] iver56 commented on #37
Chunked uploads really help when uploading large files over unreliable connections.

This piece of code shows how to add a chunk to an existing partial file:
https://github.com/juliomalegria/django-chunked-upload/blob/2d49a8c35bc60570c0ced68164c3fee34d312f33/chunked_upload/models.py#L63

I believe some of that can be reused when implementing chunked uploads

[2020-02-27 09:53] jcohen02 commented on #37
Hi @iver56, thanks for this feature request. I can see that handling chunked uploads looks like it could be a useful enhancement.

I'll take a look at this in the next couple of days and see what would be involved in adding this and hopefully this is something that can be included in the next release.

[2020-02-29 00:02] pasevin commented on #31
Hi, I've tried to install this branch on a clear machine today and noticed Django output:

[code]

If I do that, it creates a new migration inside package:
[code]

I see your migration 007 is:
[code]

Shouldn't it be:
[code]

[2020-02-29 17:26] jcohen02 commented on #31
Hi, yes, I agree the migration doesn't look right. In fact, I think there must have been some confusion with this on my part so apologies for that - my build directory seemed to end up with two 0007 migrations in it, one of which specifies `storage=django_drf_filepond.models.DrfFilePondStoredStorage()`, even though the source itself only has the one `0007_altered_stored_upload_file` which looks in

[2020-03-02 22:01] clikader opened #38 "Bug: Error when using custom the user model"
The models.py have two locations where the foreign key to users are defined by `auth.User`, if the project is using the custom user model, the following errors will be given:

[code]

Using `settings.AUTH_USER_MODEL` solved the problem and according to [the documentation](https://docs.djangoproject.com/en/3.0/ref/settings/#auth-user-model), `AUTH_USER_MODEL` by default gives `auth.User`.

[2020-03-02 22:20] pasevin commented on #31
Looks like the latest commit fixed the issue with ```python manage.py makemigrations``` triggering unwanted migration creation.

I can't remember now, at which point I saw this ```Your models have changes that are not yet reflected in a migration, and so won't be applied....```  message. I think it was when I tried to execute ```python manage.py runserver```,  after I ran ```makemigrations``` and

[2020-03-02 22:23] jcohen02 commented on #31
Thanks for that, sorry that this hasn't been a straightforward fix! Hopefully the issue is now resolved - I'll leave this open for now, I'm intending to do some further tests prior to the next release.

[2020-03-03 12:00] pasevin commented on #31
No problem, I really appreciate you being so active with this project! Keep up the good work :)

[2020-03-04 07:53] iver56 commented on #38
Workaround, until the bug gets fixed: Use v0.2.2, where this problem doesn't exist

[2020-03-04 09:37] jcohen02 commented on #38
Thanks for highlighting this issue @iver56 and reporting that this doesn't exist in `v0.2.2`. I guess this must have been introduced by the most recent changes to try and address #31. I've tried simply switching the `User` foreign keys to `AUTH_USER_MODEL` but the test suite is reporting failures so I still need to investigate this.

[2020-03-26 17:12] michealjroberts commented on #38
@jcohen02 However, when downgrading - ERROR: django-drf-filepond 0.2.2 has requirement Django<3.0.0; python_version >= "3.5", but you'll have django 3.0.2 which is incompatible. I believe I can help with this issue...it shouldn't be too much of an issue to resolve.

[2020-03-26 17:14] jcohen02 commented on #38
Hi @michealjroberts, if you'd like to fix this and put in a PR, please do go ahead. Thanks.

[2020-04-09 05:17] ayushpalak commented on #37
Hi jcohen02,

Thanks for working on chunk upload feature. May I know when will this feature will be released?

[2020-04-15 11:22] jcohen02 commented on #37
Hi @ayushpalak, sorry for the delay in implementing this but thanks for the reminder. I've been caught up with other things over the last few weeks but have now started work on this feature and hope to have something available very soon. (likewise, apologies @iver56 for the delay).

[2020-04-16 08:54] jcohen02 commented on #38
@michealjroberts I've just pushed an update to the [fix/issue38](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/fix/issue38) branch to address the original issue raised by @clikader.

Is the versioning issue still causing a problem? If so, can you provide some further details about the circumstances in which this occurs?

When I attempt a downgrade using `pip`, e.g. `pip install

[2020-04-17 17:19] jcohen02 commented on #37
An initial, fully functional, implementation of chunked uploads has just been pushed to the [feature/chunked_upload](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/feature/chunked_upload) branch.

There's still a bit of work to do here in terms of completing the updates to the test suite, documentation etc, however I wanted to get the core implementation out as soon as possible

[2020-04-21 13:39] iver56 commented on #38
The fix in [fix/issue38](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/fix/issue38) seems to do the trick for me 👍 Thanks

Btw, since you asked about versioning issues:
I had a similar issue. I am using Django LTS (currently 2.2), in a Python 3.7 environment. My solution was to tweak setup.py to indicate that this combination is supported/allowed, like this: https://github.com/

[2020-04-21 13:41] iver56 commented on #37
I tried the implementation of chunked uploads in the [feature/chunked_upload](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/feature/chunked_upload) branch, and it seems to work well for me so far. Thanks! 😄🥇

[2020-04-21 18:16] jcohen02 commented on #37
Great, many thanks for checking this out @iver56. Still finalising things with tests and docs here but aiming to get this merged in and into a new release by the of this week.

[2020-04-21 18:28] jcohen02 commented on #38
Re versioning issues, thanks for the pointer to your changes, @iver56. I can see that this will allow you to run Django 2.2 with Python 3.7 but I _think_ that I had an issue where if you did a fresh install with, say, Python 3.5, it would still install Django 3 which is not supported by 3.5.

I think this was the reason for the somewhat complex set of rules for Django versions in `setup.py`. I may

[2020-04-21 18:37] iver56 commented on #38
Yes, that sounds like an apt fix 👍

[2020-04-21 21:19] jcohen02 commented on #38
Fixes merged into [dev](https://github.com/ImperialCollegeLondon/django-drf-filepond/tree/dev) in #39

[2020-04-21 21:19] #38 closed

[2020-04-28 15:09] jcohen02 commented on #31
The updates related to this issue are included in [v0.3.0](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.3.0).

For now, I'll leave this open for a little while in case there are any further problems relating to this.

[2020-04-28 15:11] jcohen02 commented on #37
[v0.3.0](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.3.0) including chunked upload support has just been released.

Thanks @iver56 for the original feature request and for trying out the initial implementation.

I'll leave this issue open for a little while in case there are any problems relating to the new functionality.

[2020-04-28 15:13] jcohen02 commented on #6
django-storages support has been included within django-drf-filepond for some time now so I'm closing this issue.

[2020-04-28 15:13] #6 closed

[2020-08-03 09:53] narzuta opened #43 "Forbidden: /fp/process/ - "POST /fp/process/ HTTP/1.1" 403 59"
Hi.
I have a problem with uploading files. I use docker.
I keep getting a bug:

[code]

My filepond js config

[code]
urls.py

`path('fp/', include('django_drf_filepond.urls')),`

settings.py

[code]

[2020-08-03 11:14] jcohen02 commented on #43
Hi @narzuta,
Thanks for reporting this issue and providing the details of your configuration.
Have you been using the example provided in the [tutorial](https://django-drf-filepond.readthedocs.io/en/latest/index.html#document-tutorial/tutorial) in the documentation? (your initial configuration looks similar to that)

I've just set up a test application from scratch based on the instructions in the

[2020-08-03 21:44] narzuta commented on #43
Hi, thank you for your reply.
yes i used the tutorial and did everything according to it.
1. I use django 3.0.9 and python 3.8.4, django-drf-filepond 0.3.0
2. Yes in development use python manage.py runserver
[code]

3. In development i use http
4. In development version i not use ngnix
5. yes, the same error occurs with S3 and stored_uploads in local
6. that's how i work on this port. above I gav

[2020-08-04 11:59] jcohen02 commented on #43
Hi @narzuta, many thanks for providing this information about your configuration. I've had a go at investigating this. I can't really see what is causing the issue but I think it may be something to do with your docker compose networking configuration. I'm not sure that this issue is the result of a problem with django-drf-filepond.

If I create a cut-down, single container docker-compose configur

[2020-08-04 12:01] jcohen02 commented on #43
[apologies, issue closed unintentionally]

[2020-08-04 12:15] narzuta commented on #43
I try different settings but it has no effect
My dockerfile
[code]

my settings.py

[code]

nad views.py in my app

[code]

and my html view template responsible for adding the entry

[code]

urls.py in my app

[code]

I have already given all my specifications except for the env variables where do i have api keys.
When I don't use filepond the entry and files are added correctly.
I have no idea w

[2020-08-04 12:18] narzuta commented on #43
and this is what an error looks like when adding a file
![2020-08-04 14 17 24 localhost 0ab6c988cfff](https://user-images.githubusercontent.com/20885766/89292861-4bc92f00-d65d-11ea-80b0-de77a3c2fea5.png)

[2020-08-04 12:35] narzuta commented on #43
maybe a friend wants to see my whole code for the repository on gitlab?

[2020-08-04 12:38] jcohen02 commented on #43
I'm just investigating this now. As I say, I'm not convinced that this is a problem with django-drf-filepond and I have a number of other things to work on but I'll see if I can try and reproduce the issue - I'll get back to you with some further information soon.

[2020-08-04 12:43] narzuta commented on #43
fine, thank you for your help. I will be grateful
I care about it because I need some solution to upload large files
best regards

[2020-08-04 13:34] jcohen02 commented on #43
Hi,
Thanks for providing the further configuration information. I've updated my test configuration to use your settings file. I've commented out the references to `sentry` and all the additional libraries in your `INSTALLED_APPS` from `captcha` down to `django_cleanup.apps.CleanupConfig` and everything below `django_drf_filepond`.

I've replaced my Dockerfile with the example you provided so I'm n

[2020-08-04 15:27] narzuta commented on #43
Thanks again for your tips
I will cut plugins and code gradually and check it works. I will let you know. these are my logs
![Bez tytułu](https://user-images.githubusercontent.com/20885766/89312623-c4d58000-d677-11ea-8abd-4f04232131ce.png)

[2020-08-04 15:40] jcohen02 commented on #43
Not sure if this is a significant or not, but from the log output, it looks very much like this could be a `CSRF` issue with the `POST` request. Just as a test (obviously not something you want to do in production!), can you comment out the `'django.middleware.csrf.CsrfViewMiddleware',` line in the `MIDDLEWARE` block of your `settings.py` file and see if everything suddenly starts working?

[2020-08-04 15:47] narzuta commented on #43
still the same after adding a comment in 'django.middleware.csrf.CsrfViewMiddleware',

[2020-08-04 15:55] narzuta commented on #43
I purge data in my docker and will try to recreate it. it might help.

[2020-08-04 15:57] jcohen02 commented on #43
I would also investigate whether this is something to do with CSRF - I know you commented out the CSRF middleware but it looks very much like that could be an explanation for the 403 error.

[2020-08-04 16:01] narzuta commented on #43
I have never changed anything with it and it is by default from the very beginning

[2020-08-04 16:06] narzuta commented on #43
cleaning the docker did not help at all, so that's not the problem.

[2020-08-04 16:07] jcohen02 commented on #43
`CSRF` shouldn't be the problem since the `ProcessView` that is being called is a django REST Framework `APIView` which is set as CSRF exempt by default. However, something is clearly causing this to get blocked.

Are you using Firefox, Chrome or Safari, or you're using a different browser? Can you have a look in your browser debug console, in the "Network" tab. When you select the file you want t

[2020-08-04 16:17] narzuta commented on #43
![1](https://user-images.githubusercontent.com/20885766/89318222-c8b8d080-d67e-11ea-9646-9bfe0ea49e65.png)
![2](https://user-images.githubusercontent.com/20885766/89318226-c9e9fd80-d67e-11ea-8f93-1e8304bdc3c5.png)

Yes, I use this build : https://github.com/testdrivenio/django-on-docker
I have reconfigured the django_drf_filepond and the upload works, after selecting the file, it is success

[2020-08-04 16:28] narzuta commented on #43
sorry i waste your time. maybe you would like to see all my gitlab repo code?

[2020-08-04 16:56] jcohen02 commented on #43
No problem, happy to try and help but I really can't spend more time on this right at the moment, very sorry about that.

Of course, if there is a bug in `django-drf-filepond` I'd be very keen to try and resolve it and I appreciate you raising this you. However, I've tried lots of different options and I can't recreate the issue. I may be wrong, but I'm fairly sure that this isn't a `django-drf-fi

[2020-08-04 17:01] jcohen02 commented on #43
Alternatively (since I did see some logging output from `django-drf-filepond` in your debug log), it may be that it's getting handled by Django REST Framework and then somehow getting picked up for CSRF processing and rejected later. To test this, you could try to upload just a very small text file (just a few bytes is fine) and then look in the `os.path.join(BASE_DIR, 'filepond-temp-uploads')` di

[2020-08-04 17:02] narzuta commented on #43
![Bez tytułu](https://user-images.githubusercontent.com/20885766/89322809-1801ff80-d685-11ea-9c78-850bc8f70014.png)

[2020-08-04 17:04] narzuta commented on #43
the problem is that no file shows up in the folder filepond-temp-uploads while uploading

[2020-08-04 17:12] jcohen02 commented on #43
Ok, so the request is getting to the `django-drf-filepond` view. Now you could create a very simple text file in the current directory, call it `test.txt` with just some random text in it, then try:

[code]

That should mimic the upload process that the browser is doing - I guess that will give you the 403 but again, check whether the file has appeared in `filepond-temp-uploads`.

[2020-08-04 17:18] narzuta commented on #43
The file has been added.
![Bez tytułu](https://user-images.githubusercontent.com/20885766/89324222-3bc64500-d687-11ea-9d36-61781f8d4a90.png)

[2020-08-04 17:33] narzuta commented on #43
I fix this.
Add in my settings.py this code

[code]
and it works, but the form doesn't save and doesn't add an entry

[2020-08-04 17:51] jcohen02 commented on #43
It's great that you've got the upload working.

The upload and storage are two separate stages. First you select the file, and it is uploaded as a temporary upload. The response contains the unique ID of the upload. Filepond stores the returned ID in your form. This is the state that you've shown in the image above.

Then, when you click the green button to submit your form, it gets posted to the

[2020-08-04 17:59] narzuta commented on #43
thank you very much for your help. You are very helpful.
one problem solved but the other one remained and I currently don't know how to solve it
do you have any clues?

[2020-08-04 19:00] jcohen02 commented on #43
No problem, glad I was able to be of some help.
What is the other problem that you are having? Is this the submission of the main form after the file has been uploaded? I wasn't clear what is happening here but I guess this is probably related to the backend Django view implementation?
Either way, I guess this is specific to your application or the other libraries you are using, I don't have any c

[2020-08-04 19:24] narzuta commented on #43
after clicking "add", the entry is not added
I will try to fix it and keep you updated

[2020-08-11 07:52] jcohen02 commented on #43
Hi @narzuta, I hope you managed to resolve the issues you were having with your app. Since I think we established that this issue was not something that was a bug within `django-drf-filepond` itself, I'm going to close the issue.

However, if you're still experiencing issues with `django-drf-filepond` then feel free to reopen the issue or open a new issue if it's related to a different problem. Th

[2020-08-11 07:52] #43 closed

[2020-08-11 07:55] jcohen02 commented on #37
Closing this now since this functionality has been in place for a little while and all seems ok.

[2020-08-11 07:55] #37 closed

[2020-08-16 00:29] hvitis opened #44 "VueJS - {"detail": "Invalid request data has been provided."}"
Hello!

I was trying to set up vue-filepond with DRF and I keep getting this message after uploading photo on front end and on POSTMAN. I went through the tutorial on the page, I set up server options on Django and on Vue.

Is there any way of tracing the error better / making it more verbose?
Is there any collection of POSTMAN requests for a simple server setup?

Thank you for any suggestions.

[2020-08-16 17:09] hvitis commented on #44
**Solved it:**

In uploaders.py there is a classmethod:

[code]

Which sais that the key with file should be called __filepond__ so I tested it with POSTMAN uploading a file with form-data and it worked! This is the request in axios:

[code]

But the crucial solution in __VUEJS__ was to change the __name__ attribute's value to __filepond__:

[code]

[2020-08-16 17:10] hvitis commented on #44
PS: My logger was also not working that's why I didn't get the tutorials Logger explanation to work.
Working logger here:

[code]

[2020-08-17 12:05] jcohen02 commented on #44
Hi @hvitis, thanks for raising this issue and also for updating with your solution.

The use of `filepond` as the default field name was based on the default value for the `name` property in the [Filepond instance properties](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#properties). #4 updated this to allow the use of other names for the filepond instance by setting the `fp_uploa

[2020-08-17 15:01] hvitis commented on #44
Hello @jcohen02

Thank you very much for a quick and explanatory reply! Indeed I am using the __vue-filepond__ adapter. I will try making pull request there to change the default name so that it matches the FilePond documentation. This misleading small little detail can cost other people time too.

Indeed it is possible to inject custom field name as you said! Here it is working:

<img width="458"

[2020-08-17 17:03] jcohen02 commented on #44
Ok, no problem, thanks, I'll close the issue once any follow up discussion to this is concluded.

I understand that there's quite a bit to learn here if you're new to working with `filepond` and it's different adapters so I'll also look to put a note in the documentation about the use of the filepond vue adapter, just in case that helps anyone else from getting caught out with a similar issue.

Re

[2020-08-17 17:29] hvitis commented on #44
The idea of filepond, editor, plugins that comes with an adapter for vue AND backend with great architecture got me hooked so much that I was reading the __django-drf-filepond__ package and I arrived to a similar conclusions which makes me really happy.

A lot of happines gave me also your very thoutugh reply which is exactly what I needed. I can't thank you enough. I would love to contribute in s

[2020-08-17 17:57] jcohen02 commented on #44
Many thanks @hvitis, great to hear that the information was what you were looking for and many thanks too for the offer to contribute.

Certainly no need to contribute - it's good to know that the library is being used and it's useful. At the same time any contributions to the library are always appreciated so if you'd like to provide any fixes to improve the error reporting, then please do feel f

[2020-08-17 17:57] #44 closed

[2020-09-09 21:55] brianedelman opened #45 "StoredUpload should be hotswappable"
Currently working on a project where I want StoredUpload to have some extra data attached to it and there currently isn't a way to define my own model for the library to use. Is that something on the roadmap/useful for others?

[2020-09-10 08:30] jcohen02 commented on #45
Thanks for raising this @brianedelman, this would certainly be a useful enhancement. Can you provide a little more detail as to what you had in mind in terms of the functionality you'd be looking for?

If you were to extend the `StoredUpload` model class with your custom model parameters and then have a new option in the settings where you could set the name of the stored upload class, say, `DJANG

[2020-09-11 17:41] jcohen02 commented on #31
This has been present in v0.3.0 for some time now so I'm going to close this issue but please re-open if there are any further issues relating to this.

[2020-09-11 17:41] #31 closed

[2020-10-18 17:16] hvitis commented on #44
I wrote some more explanation on this [here](https://hvitis.dev/how-to-upload-files-with-filepond-and-drf-extension).

[2020-10-19 15:48] jcohen02 commented on #44
Great tutorial, many thanks for writing this up and highlighting `django_drf_filepond`. I'm sure this will be very useful to people working with Filepond, VueJS and a Django backend. 🙂

[2020-11-16 10:11] mannemvamsi opened #48 "Could not delete temporary directory - NFS Disk"
Sentry Log
[code]
I've been using this plugin more than a year.. works like charm with local disk.
Recently, I have moved the deployment to kubernetes pod with NFS disk mounted to store the temporary uploads, where i am getting the error [os error: Directory not empty]

Folder that unable to delete **3k3VsojXz3kZwKVdcnvi9M** it is emptly.
[code]

[2020-11-17 07:44] alirezashamsaei opened #49 "Problem with Pathlib based paths"
Hello and thanks a lot for this awesome app. it makes lives so much easier!
I recently started a new django project (Django 3.1) and as you know, django has moved from **os.path** to **Pathlib**. unfortunately, this breaks this app's functionality.
It throws an error in :
django_drf_filepond/views.py, line 107
where it contains the following:
`if ((not (storage.location).startswith(local_settings.

[2020-11-24 10:16] jcohen02 commented on #49
Hi @alirezashamsaei, sorry for the delay in getting to this issue but thanks for raising it. Great to hear that you find the app useful too 🙂.

I've not seen any issues so far resulting from the switch to `pathlib` but it certainly looks like there's a problem here.

Can you confirm what OS version and Python version you're running with? I think this could be a Windows-specifc issue and I presume

[2020-12-22 09:52] shafay07 opened #50 "Model Form validation with FilePond form.save()"
Firstly, thankyou for developing django-drf-filepond. Its a life saver!
I am a lil confused as to how django-drf-filepond helps with form validation on post request. So i have set up everything and my files are uploaded to temporary folder. I want to know if my post request validation (that is form.save()) fails how do i keep track of uploaded files and let user fix errors with the parent form.

[2021-01-04 10:57] jcohen02 commented on #50
Hi @shafay07, great that you're finding the app useful and apologies for the slightly slow response.
If I understand your question correctly, you have a form that includes file upload capability via filepond, so when someone adds a file, it gets uploaded straight away, as a temporary upload, and then subsequently a user submits the main form which is handled on the server-side as a `ModelForm` ins

[2021-01-20 12:09] sttwister opened #51 "Support for using a custom storage for temporary uploads"
Saving temporary uploads in the server's filesystem assumes there is a single Django instance serving all requests.

This poses problems in a production environment with multiple webserver instances with ephemeral storage (think containers in a Kubernetes environment).

Using a remote storage (i.e S3) supported by django-stroages for saving temporary uploads would solve this issue.

[2021-01-20 13:05] jcohen02 commented on #51
Thanks for raising this issue @sttwister. I had been considering the addition of support for remote storage for temporary uploads when implementing the original remote storage functionality for stored uploads. I seem to recall there was something that made this less straightforward than I at first thought it might be! Nonetheless, I can see that this would be a useful feature and it would be good

[2021-01-20 15:26] sttwister commented on #51
Yes, the webservers would share a database instance, it's only the local storage that is not shared (i.e. stateless).

For my particular use case, I've opted for an in-house implementation instead of using django-drf-filepond in order to minimize complexity.

When using stateless webservers with a remote storage, the concept of temporary and stored uploads sometimes doesn't really make sense becau

[2021-01-20 15:55] jcohen02 commented on #51
I take your point on the issue of considering temporary and stored uploads as separate entities and then being in a position where you may need to save them twice. This is clearly an important consideration, especially if you're talking about large files.

When `django-drf-filepond` was originally created, there was no remote storage capability so the concept of temporary and stored uploads worked

[2021-01-20 16:09] sttwister commented on #51
Yes, sharing the same storage and path between temporary and stored files sounds like a good plan.

AFAIK, S3 doesn't natively support `mv` operations, they are implemented in clients using multiple operations. Also has the disadvantage that it's not storage agnostic.

[2021-02-02 12:40] pasevin commented on #51
Just my two cents :) Not sure if this is helpful at all.
My setup includes multiple instances on AWS as well with load balancing, and for the temporary uploads, I am using EFS.
Then for permanent uploads they go to S3 of course

[2021-02-19 15:23] 7iomka opened #52 "How to make thumbnail for a stored_upload?"
Hi
I want to use
`from sorl.thumbnail import get_thumbnail`

`su = get_stored_upload(upload_id)`

how to make & store thumnails for existing upload?
I need to do something so that they are done automatically when created and deleted when deleted
Thanks

[2021-02-19 17:57] jcohen02 commented on #52
Hi,

I'm not actually familiar with `sorl.thumbnail` but `get_stored_upload` gets you a `django_drf_filepond.models.StoredUpload` instance which contains `file` which is a `FileField`, so effectively a wrapper around the stored upload file.

I've just tested the following with `sorl.thumbnail` which seems to work fine:

[code]

`im` is now a `sorl.thumbnail.images.ImageFile` object that seems to r

[2021-02-19 18:01] jcohen02 commented on #50
@shafay07 - I hope the above response answered your question, I'm going to close this issue now since there's been no further discussion, however, you're welcome to re-open the issue if you have further questions or suggestions on this. Thanks.

[2021-02-19 18:01] #50 closed

[2021-02-19 18:03] jcohen02 commented on #28
Thanks for highlighting this issue, I'm going to close it now but please reopen if you're still experiencing issues when trying to run the test suite.

[2021-02-19 18:03] #28 closed

[2021-02-23 22:31] shafay07 commented on #50
@jcohen02 Hi, i hope you're doing great. Firstly apologies for a late comment and thank you for a detailed answer. Yes i ended up adding file id's to the post request and used filepond init method to add those files as follow:

views.py
`
temp_uploaded_files = request.POST.getlist('filepond')
context = {
        'form': offerForm,
        'temp_uploaded_files': temp_uploaded_files
    }
`

html te

[2021-02-24 09:19] #52 closed

[2021-04-14 21:27] devinvenable commented on #43
I stumbled upon this today when experiencing the same problem.  Seems that if you use both SessionAuthentication in addition to TokenAuthentication, the error can be reproduced.

doesn't work:
     'DEFAULT_AUTHENTICATION_CLASSES': [

        'rest_framework.authentication.SessionAuthentication',
        'rest_framework.authentication.TokenAuthentication',
    ],

does work:
    'DEFAULT_AUTHENTIC

[2021-04-15 08:41] jcohen02 commented on #43
Thanks for providing the info on this @devinvenable.

I'm not entirely sure about the reasoning for including both `SessionAuthentication` and `TokenAuthentication` but I assumed this was so that the auth layer can handle one or both of these auth approaches. (I think this was originally added by @pasevin - if I'm correct @pasevin, let us know if you have any thoughts or suggestions on this.)

I p

[2021-04-15 08:49] jcohen02 opened #53 "Possible auth issues when using both SessionAuthentication and TokenAuthentication"
As originally highlighted in #43, there are reports of issues when using using both `SessionAuthentication` and `TokenAuthentication` in `'DEFAULT_AUTHENTICATION_CLASSES'`.

It's not clear whether this works in some circumstances because requests contain support for both authentication types and not in others where only the required headers/content are provided to support one auth type, or whether

[2021-04-15 16:02] devinvenable commented on #53
As a workaround I explicitly added:

 class ProcessView(APIView):
    ...
     authentication_classes = [BasicAuthentication,]

[2021-04-15 16:02] devinvenable commented on #53
...this solved it for me, by specifically limiting the auth classes on the View that was complaining.

[2021-06-22 18:06] nashgc commented on #49
I got same trouble. I have Ubuntu 20 and Django 3.2.1. Please make a patch and fix the issue. =)

[2021-06-22 18:16] jcohen02 commented on #49
Hi @nashgc, I hadn't managed to reproduce this issue and needed to investigate further - I'm keen to get this fixed - are you able to offer any further information or a simple example that can reproduce the error? I was wondering if this could perhaps be something to do with the way that `BASE_DIR` is specified in the top-level application settings?

I'm currently using `django-drf-filepond` in an

[2021-06-22 18:20] nashgc commented on #49
If I don't wrap PosixPath with str() method it gets me next traceback:

`Internal Server Error: /fp/process/
Traceback (most recent call last):
  File "home/py/project/venv/lib/python3.8/site-packages/django/core/handlers/exception.py", line 47, in inner
    response = get_response(request)
  File "home/py/project/venv/lib/python3.8/site-packages/django/core/handlers/base.py", line 181, in _get_re

[2021-06-22 18:27] jcohen02 commented on #49
Thanks for the details - this is helpful, I'll see if I can reproduce the problem and sort out a fix based on this info - don't worry about creating a new repo for this issue for now, I'll see how I get on and will update here if I need any further information.

Great to hear that you're finding the library useful 👍

[2021-06-22 18:46] jcohen02 commented on #49
I see the issue here now and can reproduce the problem. I'll get a fix in place for this and create a new maintenance release which will hopefully be on PyPi sometime tomorrow.

If wrapping `BASE_DIR` with `str()` works for your app, that's great, however, note that if there are other apps expecting to use `settings.BASE_DIR` and expecting that it's a `Path` object, this could cause issues. Once I

[2021-06-24 08:05] jcohen02 commented on #49
@alirezashamsaei, @nashgc, many thanks for reporting this issue. A fix has now been implemented and merged into master.

The fix should address the differences across different Python versions in terms of whether or not `pathlib` is present and whether functions such as `os.path.join` are pathlib-aware. This means that the fix maintains support for Python 2.7 and 3.5 since I'm keen to support any

[2021-06-25 13:15] iver56 opened #57 "Add support for large files (>2 GB)"
`offset` and `total_size` in bytes are currently represented by int32 fields in the database:

https://github.com/ImperialCollegeLondon/django-drf-filepond/blob/dca2e3aeeacac60b6a24f2b83ab1d929f31d837c/django_drf_filepond/models.py#L140

This effectively limits the max file size to roughly 2 GB.

In my use case, django-drf-filepond sometimes needs to be able to swallow/accept large files. It would

[2021-06-25 16:26] jcohen02 commented on #57
Thanks for highlighting this @iver56. Happy to make the switch to `BigIntegerField` for both `offset` and `total_size`.

I'll leave `last_chunk` as an `IntegerField` since I can't really see a case where you'd need to have 2^32 chunks, you'd presumably hit other limitations before getting there anyway (e.g. filesystem limits)!

[2021-06-25 16:48] jcohen02 commented on #57
Fix merged into master. I'm due to create a 0.3.1 patch release once some issues with the CI infrastructure are sorted out. Given that this introduces a database change, I'm inclined to include this in a 0.4.0 release so that anyone who wants to avoid the DB change can stick with the 0.3.x releases.

[2021-06-25 18:10] iver56 commented on #57
Thanks for the swift and positive response :) Yes, it makes sense to include it in the 0.4.0 release given that it contains a DB migration

[2021-06-25 18:33] jcohen02 commented on #49
Release [v0.3.1](https://github.com/ImperialCollegeLondon/django-drf-filepond/releases/tag/v0.3.1) is now available on PyPi with the fix for this issue so I'm going to close this issue but do let me know if you experience any issues with the fix.

[2021-06-25 18:33] #49 closed

[2021-07-13 01:35] srugano commented on #43
Having the same problem.

[2021-07-13 08:37] jcohen02 commented on #43
Hi @srugano, I'll take another look and see if I can reproduce the problem and come up with a fix.

[2021-07-16 03:39] srugano commented on #43
I solved it by getting rid of  `TokenAuthentication` and remaining with the SessionAuthentication. For the token, I used a JWT:

    "DEFAULT_AUTHENTICATION_CLASSES": [
            # 'rest_framework.authentication.TokenAuthentication',
            "rest_framework.authentication.SessionAuthentication",
            "rest_framework_simplejwt.authentication.JWTAuthentication",
        ]

But on the cl

[2021-07-20 10:59] jcohen02 commented on #43
Hi @srugano, I've been trying to reproduce this issue to see if I can try and work through why including both `rest_framework.authentication.SessionAuthentication` and `rest_framework.authentication.TokenAuthentication` causes an authentication issue.

I am using a version of the [tutorial example page](https://github.com/ImperialCollegeLondon/django-drf-filepond/blob/master/docs/tutorial/filepond

[2021-07-20 11:10] jcohen02 commented on #53
Just a quick update on this issue to say that I've been trying to reproduce the issue originally described in #43 and have been unable to do so at present. I've just added a description of what I've tried in response to the most recent message in #43. If anyone else is experiencing this issue and would be able to provide a minimal example to reproduce it, that would be very helpful.

At present, I

[2021-09-04 19:24] quickstarts-owner commented on #51
Hi @jcohen02 , when do you plan to release this feature? (It looks like the v0.4.0 just support large files only.)

[2021-09-04 19:25] huynguyengl99 commented on #51
Hi @jcohen02 , when do you plan to release this feature? (It looks like the v0.4.0 is for the upload big file only.)

[2021-09-06 07:51] jcohen02 commented on #51
Hi @huynguyengl99, you are correct that v0.4.0 does not include this feature and is focused on adding the large file upload support.

I'm hoping to get this feature added soon but have been caught up with other work - I seem to recall that there were going to be some challenges with this that mean it's going to take longer than originally anticipated to implement.

If you're keen to use this, I ca

[2021-09-06 09:16] huynguyengl99 commented on #51
Thank you @jcohen02 I have some workaround for my current implementation right now in my project for that case, so I can stay calm and wait for that feature.

[2021-09-06 09:21] jcohen02 commented on #51
No problem, I'll try to get this new feature implemented as soon as possible.

[2021-09-25 15:01] derek-adair opened #61 "Template Tags for easy front end implementation"
perhaps it's out of the scope of this project, but it'd be convenient to have some template tags baked in and maybe even a specific version of filepond.  I can picture some kind of ModelForm integration as well where I am able to declare a form as a DRFFilepondForm or something.

[2021-09-25 18:58] jcohen02 commented on #61
Hi @derek-adair, thanks for the suggestion. Are you thinking to include, for example, a template tag that drops in the script tag to load the latest (or a specific) version of filepond for use in apps working with server-side rendering? I can also see that a tag could be included to drop a filepond form into a template and, as you suggest, some sort of form object to handle submission on the serve

[2021-09-28 17:29] c0d33py opened #62 "Is there a way to link each uploaded files with an other model by forgnekey or Abstract model?"
Hello There,

I want to know how can i link each uploaded file with an post model like each post has multiple files(photos/videos). When the user click submit button the post is created and Each file get's uploaded along with it? In my case when the user click submit button The post is created but the files which are uploaded by the user are not getting post along with it. Would you like to guide

[2021-09-28 17:54] jcohen02 commented on #62
Hi @c0d33py, you asked:

When you drop a file onto the filepond user interface in your client (or when you click and select a file in the file chooser), the file is, by default, uploaded immediately and a [`TemporaryUpload`](https://github.com/ImperialCollegeLondon/django-drf-filepond/blob/fd9a14343d86f58ef06c0e4beff3e1d45a10a296/django_drf_filepond/models.py#L99) object is created. An `upload_id`

[2021-09-28 19:25] c0d33py commented on #62
First of all thanks your reply! let me clear my question.

I don't want to turn off immediate upload functionality! i want to upload Each file related with a post which i have created along with files.
The `Post` model forgnekey `class StoredUpload(models.Model):
    post = models.ForeignKey(Post, on_delete=models.CASCADE, null=True) # This is the article model ForeignKey
` is also added into `Sto

[2021-09-29 09:18] jcohen02 commented on #62
Thanks for the further clarification. I think I understand the issue and can see a few different ways to resolve this...

Here's my understanding so far: You have a `Post` model. There is a web form where you capture the data that will be stored in a `Post` instance. There can be files uploaded in relation to a `Post`.

So, a user fills in the form on the web page and uploads one or more files. Wh

[2021-09-29 09:40] jcohen02 opened #63 "Add support for using custom StoredUpload models"
Based on the discussion in issue #62, it looks like there would be a benefit in supporting custom `StoredUpload` models.

This would address the issue where there is a need to link mulitple stored uploads to some other model instance.

At present this could be done by modifying `StoredUpload` to add a `ForeignKey` to the required application model. This implements a one-to-many relationship using

[2021-09-29 09:48] jcohen02 commented on #45
This issue has come up again in #62 and I've opened a new issue (#63) to work on this. Thanks @brianedelman for raising this initially and for your work looking at implementing this. I think I can see a simplified approach to addressing this initially (although I may well be missing something!) so will have a go.

I'm going to close this issue and move discussion to on this feature to #63. Do feel

[2021-09-29 09:48] #45 closed

[2021-09-29 09:48] jcohen02 commented on #45
Discussion on this feature is continuing in #63.

[2021-09-30 15:58] derek-adair commented on #61
Maybe, I was mainly thinking of just packaging the specific version because it would likely break the template tag if a user didn't have the right version.  I think this would just work best by adding the necessary src to the base filepond template.

This would be the main bit, but after I spent a little time thinking about it I think it's best to keep the distinct concern of having this be exclus

[2021-09-30 15:58] #61 closed

[2021-10-02 04:32] c0d33py commented on #62
Thanks a lot @jcohen02!  This is what i want to do.

[2021-10-02 04:32] #62 closed

[2021-10-09 20:03] trondhindenes opened #64 "high memory usage caused by chunks being combined in-mem"
On large file uploads we're seeing heavy memory usage, roughly 2x the size of an upload while finalizing the upload.
After a lot of digging, it turns out that the culprit seems to be how django-drf-filepond pieces together chunks by using an in-mem `BytesIO` object. The "2x" usage seems to be related to copies of that `BytesIO` object.

We've created a poc that's using python tempfiles instead of

[2021-10-11 16:30] trondhindenes commented on #64
Hi, thanks for responding. I think your assumption about the 2x memory usage is correct.

I'm not too familiar with the codebase to understand every nuance and consequence, but I can tell you what we've done to get around it short-term:

instead of loading a bytesio object, we use a temporary file
[code]
We don't create an `inmemoryfile` at all.
We then move the constructed temp file to the "chunk

[2021-11-23 15:52] larsschellhas commented on #19
Instead of using a scheduled cleanup, you could trigger an async cleanup every time a new file is uploaded into the temporary storage. A setting `FILEPOND_TEMP_LIFETIME` could be added as a `datetime.timedelta` value and temporary uploads will be cleaned up when they already exist for longer than this lifetime.

This would require no additional dependencies and only run when the storage is actuall

[2021-11-23 16:09] jcohen02 commented on #19
Thanks @larsschellhas, I think this would be a good way to address this longstanding issue without having to introduce additional dependencies or set up cron jobs external to the application.

I guess a further extension to this, to help manage resources on high-load applications, might be to simply store a timestamp when the last cleanup was done and then have something like a `TEMPFILE_CLEANUP_M

[2021-11-23 16:17] larsschellhas commented on #19
Agreed, that might be a helpful solution for high-load scenarios, too. However, I'm wondering whether (especially) in high-load scenarios, there is a trade-off between the larger peak loads of lower frequencies vs. smaller peak loads of higher frequencies, @jcohen02

[2021-12-10 18:11] jcohen02 opened #69 "Update for django 4"
Django 4 removes `django.conf.urls.url` which was being used in the _django-drf-filepond_ URL mappings.

This needs to be fixed by moving to `django.urls.path` or `re_path`. However, switching to these will remove compatibility with Python 2.7. Since Python 2.7 support is not yet officially deprecated, this should be done in v0.5.0 with a view to that being the last version providing py2.7 support

[2021-12-10 18:11] #69 closed

[2021-12-10 18:34] jcohen02 opened #70 "Remove Python 2.7-specific code"
_django-drf-filepond_ v0.6.0 will be the first Python 3-only version of the library.

In preparation for the 0.6.0 release, Python 2.7-specific code should be removed to clean up the codebase.

[2021-12-21 10:59] jcohen02 opened #72 "Chunked uploads fail when upload file size is an exact multiple of chunk size"
When handling a chunked upload, django-drf-filepond receives the size of the file upload that it expects and creates a temporary database object to track the upload of the file chunks.

Once all file chunks have been uploaded, the final file is created and saved and the `TemporaryUploadChunked` object is deleted.

However, when the filepond client is processing a chunked upload where the file is a

[2022-01-14 10:55] #72 closed

[2022-02-25 07:59] hrushikeshrv opened #74 "Clarify resulting error message when 'upload_field_name' is not found in request data while uploading"
As explained in the comment just above this referenced line of code, if there are multiple filepond instances on the page, or if the developer has chosen to name the input element something other that `'filepond'`, they need to send the name they have used as `'upload_field_name'`.

https://github.com/ImperialCollegeLondon/django-drf-filepond/blob/6ed5b50e63f1e222837b7443f2f7880fd1971f05/django_dr

[2022-03-07 19:28] jcohen02 commented on #74
Hi @hrushikeshrv, thanks for reporting this and sorry to hear that this caused some confusion. I agree that a more detailed error message would help to make things clearer if others encounter this issue.

Happy to make an update to this and get it included in the next release - v0.5.0.

[2022-03-08 08:37] hrushikeshrv commented on #74
Thanks! I can send a pull request if you'd like.

[2022-03-08 10:11] jcohen02 commented on #74
Yes, sure, please do go ahead and open a PR. Thanks.

[2022-04-03 18:30] derek-adair commented on #63
This seems nice.  I am currently envoking `store_upload`, then `get_stored_upload_file_data`, then saving it to my model....

![cringe](https://c.tenor.com/Gc7Crn1EBVgAAAAC/steve-carell-sad.gif)

[2022-04-03 18:43] derek-adair commented on #63
[Django Allauth ](https://django-allauth.readthedocs.io/en/latest/advanced.html#custom-user-models) has this done quite eloquently if it helps to have an example.

[2022-04-03 20:15] derek-adair opened #77 "Setting for less restrictive file permissions"
This has become an impediment in development for me.  It would be nice to be able to have open file permissions as an django setting.

Also I am having trouble figuring out what 'mode' even is in os.mkdirs().

[2022-05-19 14:06] darbre opened #78 "save image to ImageField"
Hi
I use FilePond Vue.js +  django-drf-firepond. I want to save images in ImageField. I am sending a request with upload_id via axios. But nothing works. How to implement it?
Here is part of the code views.py.
Thank You
[code]

[2022-05-20 08:55] darbre commented on #78
Yes, i have a front end where a user selects an image file on their system which is successfully uploaded and saved on the server. I have the frontend client configured correctly (hopefully).

Yes, i'm handling the request with the change_instance function.

Yes, the temporary upload stored on the server.

[2022-06-04 12:22] darbre commented on #78
Hi!
Do you have any ideas how to save the image in ImageField?

Now I'm moving the image to the main folder `store_upload(avatar_uploudID,avatar_path)` and additionally changing the value in the object itself:
[code]

But I don't think this is a good and universal solution. I will have several such ImageFields.

[2022-06-07 17:01] darbre commented on #78
I thought _django-drf-filepond_, in addition to temporary loading on the server, could save a file in the Django field.
Yes, the images are uploaded to the server successfully, but how to save them in the field and, accordingly, in the database?

I only use Django field: models.ImageField.

[2022-06-18 22:17] hvitis opened #79 "Multiple images"
Hello,

I am using VueJS front-end plugin and DRF on backend. FE allows uploading drag-drop multiple images and I was thinking about expanding my 1 picture and making a gallery for a model.

Is it possible to save multiple images via DRF-filepond? I am using AWS

[2022-06-23 19:52] jcohen02 commented on #78
Hi @darbre, thanks for providing this example code.

It's my understanding that the issue you are experiencing is not directly related to django-drf-filepond, it's an issue with how django rest framework is being used to handle image uploads. django-drf-filepond is correctly uploading the data and then you are correctly using the api function `store_upload` to store the temporary upload to a file.

[2022-08-04 12:55] derek-adair commented on #79
Yes.... but this is not really relevant to DRF-filepond.  This is logic that will take place in your view, model or form.

[2022-08-04 13:16] derek-adair commented on #78
A couple things about this thread.  Honestly, @jcohen02 you are a saint for trying to help this individual, but this individual clearly does not understand this project nor how to wield django.  This entire thread is out of the scope of this project and for me... when people submit this stuff to my projects... I typically direct them to stack overflow and/or the documentation and immediately close

[2022-08-04 14:12] jcohen02 commented on #79
Thanks for the question @hvitis. As @derek-adair says, I wonder if this is perhaps better handled via your backend configuration/code?

Effectively, you'd allow the frontend to upload all the images via filepond, with each image upload returning a unique ID for the temporary upload record generated. Then when you submit the upload of the gallery, you'd handle storing and grouping the individual up

[2022-08-04 15:52] jcohen02 commented on #78
Just to close the discussion on this issue, I hope you managed to find a solution to your problem @darbre. As @derek-adair has pointed out, it looks like the issue that you're trying to solve is somewhat out of scope of the aims and design principles of _django-drf-filepond_ and that the problem you were facing is likely to be best handled using Django's built in file upload support or, indeed, ot

[2022-08-04 15:52] #78 closed

[2022-08-05 11:09] jcohen02 commented on #79
I'm going to close this issue but please follow-up if you have further questions on this.

[2022-08-05 11:09] #79 closed

[2022-08-05 11:19] jcohen02 commented on #77
Hi @derek-adair, apologies for the very slow response on this, the issue got missed amidst an extremely busy period!

When you say "_would be nice to be able to have open file permissions as an django setting._", can you ellaborate? Do you mean you want to be able to set file permissions when storing an upload?

Did you mean you're not clear on the meaning of the 3-digit octal code defining the (U

[2022-08-05 12:38] derek-adair commented on #77
Yes, specifically for development purposes.  When I need to rebuild my docker image the tmp directory is unable to be deleted.  At least i think thats the directory (can't replicate it at the moment).  I see that there is a setting to delete the tmp directory, maybe thats the solution.  I'll get back to you on this.

Oooo so thats just like unix perms.  Got it.  I'm not sure why i asked that, i ca

[2022-09-09 15:35] jcohen02 opened #81 "Use of setuptools for running tests is deprecated, update test infrastructure"
The use of `setuptools` as an entry point for running tests is [deprecated](https://docs.pytest.org/en/latest/explanation/goodpractices.html#do-not-run-via-setuptools).

We need to switch to using another more flexible approach where we can easily test across multiple Python versions without relying only the CI configuration to do that.

[tox](https://tox.wiki/en/stable/index.html) is probably goi

[2022-09-15 09:41] jcohen02 commented on #64
Hi @trondhindenes, apologies for the long delay in implementing a comprehensive fix for this issue but I've now finished implementing a new `DrfFilepondChunkedUploadedFile` object that replaces the use of [`InMemoryUploadedFile`](https://docs.djangoproject.com/en/3.2/ref/files/uploads/#django.core.files.uploadedfile.InMemoryUploadedFile) when handling chunked file uploads.

As you observed when or

[2022-09-15 09:41] #64 closed

[2022-09-15 09:53] jcohen02 commented on #74
Closing - fix merged in #75.

[2022-09-15 09:53] #74 closed

[2022-09-15 09:55] jcohen02 commented on #77
@derek-adair, I'm assuming this was resolved is no longer an issue so I'm going to close this - feel free to reopen if you have further questions/feedback or if this is still causing an issue for you. Thanks.

[2022-09-15 09:55] #77 closed

[2022-09-15 11:04] derek-adair commented on #77
Not really but i've not had time to work on this project.  I need to be able to easily delete and/or cleanse the upload directory and i'm not sure where these permissions are set.

[2022-09-15 13:01] jcohen02 commented on #81
The current testing configuration is based on the approach shown in https://django-module-crash-course.readthedocs.io/en/latest/03-testing.html.

With the use of `setup.py` as an executable script (and, hence, testing via `setup.py`) being deprecated, alternative options are being investigated.

[2022-09-15 19:33] trondhindenes commented on #64
thanks for letting me know!

[2022-09-19 20:23] Moiez789 commented on #49
TypeError: Invalid path type: tuple

i am facing this problem can anyone help me please ?

[2022-09-20 08:48] jcohen02 opened #83 "TypeError: Invalid path type: tuple"
_Originally posted by @Moiez789 in https://github.com/ImperialCollegeLondon/django-drf-filepond/issues/49#issuecomment-1251511562_

Opening a new issue for this since the original location has been closed.

[2022-09-20 09:01] jcohen02 commented on #49
The above comment has been moved to a new issue (#83) since this issue is closed.